.datatable {
	border: 1px solid #338BA6;
	border-collapse: collapse;
}
.datatable td, .datatable th {
	border: 1px solid #73C0D4
}
.databox {
	border: 1px solid #338BA6;
}
.links {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}
.links:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CC0000;
	text-decoration: underline;
}
.slinks {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	text-decoration: none;
	line-height: 18px;
}
.slinks:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #CC0000;
	text-decoration: underline;
}.sslinks {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8px;
	color: #000000;
	text-decoration: none;
	line-height: 18px;
}
.sslinks:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8px;
	color: #CC0000;
	text-decoration: underline;
}
.text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	line-height: 15px;
}
.text10 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	line-height: 13px;
}
.text11 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	line-height: 14px;
}
.text12 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	line-height: 15px;
}
.smalltext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	text-decoration: none;
	line-height: 11px;
}
.midbg {
	background-image: url(images/mid_bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
}
.dashline {
	background-image: url(images/dash_line.gif);
	background-repeat: repeat-x;
	background-position: left center;
}
.green {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #686F00;
	text-decoration: none;
	line-height: 15px;
}
.bg {
	background-attachment: fixed;
	background-image: url(images/bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
.red {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CC0000;
	text-decoration: underline;
}
.red:hover {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0000CC;
	text-decoration: underline;
}
.menutitle {
	cursor:pointer;
	color:#000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight: normal;
}
.submenu{
	cursor:pointer;
	margin-bottom:5px;
	color:#006600;
	width:auto;
	padding:1px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	line-height: 20px
}
.menu1 {

	cursor:pointer;
	margin-bottom:5px;
	background-color:#FFFFFF;
	color:#000000;
	width:auto;
	padding:1px;
	text-align:left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}
.menutitle:hover {
	cursor:pointer;
	color:#CC0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none
}
.redtext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
	font-weight: bold;
}

.submenu:hover {

	cursor:pointer;
	margin-bottom:5px;
	color:#2C9CDD;
	width:auto;
	padding:1px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration:none;
	line-height: 20px
}
.menutitle2 {
	cursor:pointer;
	color:#990000;
	text-align:left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}
.menutitle2:hover {
	cursor:pointer;
	margin-bottom:5px;
	color:#0000CC;
	width:auto;
	padding:2px;
	text-align:left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}
.red {
	color: #FF0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}
.Title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	line-height: 15px;
	font-weight: bold;
}
.BigTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000000;
	text-decoration: none;
	line-height: 16px;
	font-weight: bold;
}
.HugeTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #000000;
	text-decoration: none;
	line-height: 46px;
	font-weight: bold;
}
.SuperTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 48px;
	color: #000000;
	text-decoration: none;
	line-height: 52px;
	font-weight: bold;
}.textbox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	border: 1px solid #010000;
}
.menutitle2text {

	cursor:pointer;
	color:#990000;
	text-align:left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
}
.menutitle2textU {

	cursor:pointer;
	color:#990000;
	text-align:left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: underline;
}
.sub {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	text-decoration: none;
}
.sub:hover {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #9DA80A;
	text-decoration: none;
}
.blue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0033CC;
	text-decoration: none;
}
.blueover {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0033CC;
	text-decoration: none;
}
.blueover:hover {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #BB0E01;
	text-decoration: none;
}
.white {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}
.border {
	border: 1px solid #000066;
}
.blackover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.blackover:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #996600;
	text-decoration: none;
}
